<h1>Welcome to Memcached</h1>
<% if flash[:notice]!=nil%>
  <p id="error">
    <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
  </p>
<%else%>
  <br>
<%end%>
<h5>Available commands:</h5>
<p>Storage commands:</p>
<div class="list-group">
  <p>
    <a href="add" class="list-group-item list-group-item-action">Add</a>
    <a href="set" class="list-group-item list-group-item-action">Set</a>
    <a href="replace" class="list-group-item list-group-item-action">Replace</a>
    <a href="append" class="list-group-item list-group-item-action">Append</a>
    <a href="preppend" class="list-group-item list-group-item-action">Preppend</a>
    <a href="cas" class="list-group-item list-group-item-action">CAS</a>
  </p>
</div>

<p>Retrieval commands:</p>
<div class="list-group">
  <a href="get" class="list-group-item list-group-item-action">Get</a>
  <a href="getcas" class="list-group-item list-group-item-action">Gets</a>
</div>
